node_modules
/dist
/pack
electron-builder.yml
.vscode/settings.json
.idea

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vite-inspect

.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
